*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Juntar el padding y el borde */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color:#ffffff;
    --text-color: #000;
    --main-color: rgb(179, 33, 205);
}

body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    
}